@import "tailwindcss";

/* src/index.css */
body {
  background-image: url('/src/assets/bromo2.jpg'); /* sesuaikan path gambarnya */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}
